<div >
    <div class="col-md-12 text-center">
        <h1> GA Query Settings</h1>
    </div>
</div>
<div>
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
         <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"   ng-click="tabber('One-Account',$event);">One Account</a></li>
            <li  role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"  ng-click="tabber('multi-Account',$event);">Multiple Accounts</a></li>
          </ul>
        <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="One-Account">
                <form id="sing-queryDets" name="sing-queryDets" class="form-group" method="post" ng-submit="submit('sing-queryDets',$event);" action="s">
                    <hr/>
                    <div class="row">
                    <div class=" col-sm-offset-2 col-xs-2 text-right"><label>View id</label><br/></div>
                    <div class="col-xs-6"><input type="text" id="view-id" ng-model="model.viewId" class="form-control" placeholder="(format 'ga:XXXX')"></input></div>
                    </div>
                    <br/>
                    <div class="row">
                    <div class="col-sm-offset-2 col-xs-2 text-right"><label>Start Date</label>
                        <br/></div>
                    <div class="col-xs-6"><input type="text" id="start-date" ng-model="model.startDate" class="form-control" placeholder="(format YYYY-MM-DD, or relative today, yesterday, or NdaysAgo pattern)"></input></div>
                    </div>
                    <br/>
                    <div class="row">
                    <div class="col-sm-offset-2 col-xs-2 text-right"><label>End Date</label>
                        <br/></div>
                    <div class="col-xs-6"><input type="text" id="end-date" ng-model="model.endDate" class="form-control" placeholder="(format YYYY-MM-DD, or relative today, yesterday, or NdaysAgo pattern)"></input></div>
                    </div>
                    <br/>
                    <div class="row">
                    <div class="col-sm-offset-2 col-xs-2 text-right"><label>Metrics</label>
                        <br/></div>
                    <div class="col-xs-6"><textarea type="text" id="metrics" ng-model="model.metrics" class="form-control"></textarea></div>
                    </div>
                    <br/>
                    <div class="row">
                    <div class="col-sm-offset-2 col-xs-2 text-right"><label>Dimensions</label>
                        <br/></div>
                    <div class="col-xs-6"><textarea type="text" id="Dimensions" ng-model="model.Dimensions" class="form-control"></textarea></div>
                    </div>
                    <hr/>
                    <div class="row">
                    <div class=" col-sm-offset-2 col-xs-2 text-right"><label>ES Index</label><br/></div>
                    <div class="col-xs-6"><input type="text" id="index" ng-model="model.index" class="form-control" placeholder="(format 'ga-xxx-xxx')"></input></div>
                    </div>
                    <br/>
                    <div class="row">
                    <div class=" col-sm-offset-2 col-xs-2 text-right"><label>ES URL</label><br/></div>
                    <div class="col-xs-6"><input type="text" id="es" ng-model="model.es" class="form-control" placeholder="(format 'ga-xxx-xxx')" value="elasticsearch:9200" disabled></input></div>
                    </div>
                    <br/>
                    <div class="row">
                        <input type="submit" class="btn btn-default btn-primary" value="Submit"></input>
                    </div>
                </form>
            </div>
            <div role="tabpanel" class="tab-pane" id="multi-Account">
                <form id="mul-queryDets" name="mul-queryDets" class="form-group">
                    <div class="col-xs-4"><label>View ids</label></div>
                    <div class="col-xs-6"><input type="text"></input></div>
                </form>
            </div>
            <div class="scroll-fix"></div>
          </div>
    </div>
</div>
