  html,
  body {
      height: 100%;
  }
  
  #wrap {
      min-height: 100%;
  }
  
  .mWelcome {
    background: url('https://c1.staticflickr.com/9/8498/8274993170_8dac5aae7f_b.jpg');
    // background: url('https://pixabay.com/static/uploads/photo/2016/01/16/07/45/google-analytics-1142957_960_720.jpg')
    // background-size: cover;
    min-height: 100%;
    min-width: 100%;
    margin-top: -40px;
    padding: 100px;
    background-repeat: no-repeat;
    background-position-x: -290px;
    background-position-y: -100px;
}
  }
  
  .text-justify {
      text-align: justify;
  }
 .welMsg{
    
 }
  .loading {
      position: fixed;
      background: rgba(245, 245, 245, 0.77);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 200;
      padding: 120px
  }
  
  .overlay {
      position: fixed;
      background: rgba(245, 245, 245, 0.77);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 99;
      display: none;
  }
  
  .oHide {
      display: block;
  }
  
  .loading img {
      position: fixed;
      left: auto;
      right: auto;
      width: 200px;
      left: 50%;
      margin-left: -100px;
      top: 50%;
      margin-top: -75px;
  }
  
  #main {
      overflow: auto;
      padding-bottom: 20px;
      /* this needs to be bigger than footer height*/
  }
  
  .dataTables_scrollHeadInner {
      margin: 0px auto;
  }
  
  .footer {
      position: relative;
      margin-top: -40px;
      /* negative value of footer height */
      height: 40px;
      clear: both;
      padding-top: 10px;
      padding-left: 10px;
      background: #eee;
  }
  
  .scroll {
      max-height: 400px;
      overflow: auto;
  }
  
  .scroll li {
      font-size: 13px;
      cursor: pointer;
  }
  
  .scroll li:hover {
      background: #C7F7E7 !important;
  }
  
  .tab-scroll {
      max-width: 90%;
      overflow-x: auto;
      margin: 0px auto;
  }
  
  .dataTables_info {
      display: none
  }
  
  .blue {
      color: #0020BD !important;
  }
  
  .spinner {
      width: 100px;
      height: 100px;
      position: relative;
      margin: 100px auto;
  }
  
  .double-bounce1,
  .double-bounce2 {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #333;
      opacity: 0.6;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
      animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-bounce {
      0%,
      100% {
          -webkit-transform: scale(0.0)
      }
      50% {
          -webkit-transform: scale(1.0)
      }
  }
  
  @keyframes sk-bounce {
      0%,
      100% {
          transform: scale(0.0);
          -webkit-transform: scale(0.0);
      }
      50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
  }
  
  .page {
      bottom: 0;
      padding-top: 70px;
      position: absolute;
      top: 0;
      width: 100%;
      overflow: auto;
  }
  /* slide in from the right */
  
  @keyframes fadeIn {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  /* slide in from the bottom */
  
  @keyframes fadeOut {
      from {
          opacity: 1;
      }
      to {
          opacity: 0;
      }
  }
  
  .ng-enter {
      animation: fadeIn 0.5s both ease-in;
      z-index: 8888;
  }
  
  .ng-leave {
      animation: fadeout 0.01s both ease-in;
      z-index: 9999;
  }
  
  .animate-enter,
  .animate-leave {
      -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      position: relative;
      display: block;
  }
  
  .animate-enter.animate-enter-active,
  .animate-leave {
      opacity: 1;
      top: 0;
      height: 30px;
  }
  
  .animate-leave.animate-leave-active,
  .animate-enter {
      opacity: 0;
      top: -50px;
      height: 0px;
  }
  
  .offTab {
      left: -300px;
      width: 300px;
      position: absolute;
      z-index: 100;
      background: #fff;
      border-right: 1px solid #D4D4D4;
      box-shadow: 2px 3px 10px 1px #D4D4D4;
      transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  }
  
  .open {
      left: 0px;
  }
  
  .offTabOpen {
      position: absolute;
      z-index: 100;
      left: 0;
      border-radius: 0px 5px 5px 0px;
      transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  }
  
  .op {
      left: 300px;
  }
.scroll-fix{
    height: 35px;
}